<!DOCTYPE html>
<html>

<head>
    <title>welcome Test IOF</title>
    <% include ../partials/stylesheet.ejs %>
        <% include ../partials/header_javascript.ejs %>
            <% include ../partials/weather_config.ejs %>

</head>


<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>I</b>OF</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>C &amp; H </b>IOF</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o"></i> <span class="label label-warning"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#"> <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-flag-o"></i> <span class="label label-danger"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all tasks</a></li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="#" class="user-image" alt="User Image"> <span class="hidden-xs">user name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header"><img src="#" class="img-circle" alt="User Image">
                                    <p>
                                        user name - channel number <small>reg date</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li><a href="#" data-toggle="control-sidebar"><i
								class="fa fa-gears"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/static/images/logo_iot.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>User ID</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- nav item -->
                <% include ../partials/nav_item %>
                <!-- end nav item -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Show <small>Channel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><i class="ffa fa-dshboard"></i>Channel</li>
                        <li class="active"><a href="/">show</a></li>
                    </ol>
                </section>
                <div class="content">
                    <div class="row">
                        <!-- <div class="col-xs-12"> -->
                        <div class = "col-md-6">
                            <!-- Line chart -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <i class="fa fa-bar-chart-o"></i>
                                    <h3 class="box-title">Senser Value</h3>
                                    <button class="pull-right" id="value_download" name="value_download"><i class="fa fa-fw fa-download"></i>download</button>
                                </div>
                                <div class="box-body">
                                    <div id="sensor-chart" style="height: 300px;"></div>
    
                                </div>
                                <!-- /.box-body-->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- chart end -->
                        <div class = "col-md-6">
                            <!-- Line chart -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <i class="fa fa-bar-chart-o"></i>
                                    <h3 class="box-title">Senser Value</h3>
                                    <button class="pull-right" id="value_download" name="value_download"><i class="fa fa-fw fa-download"></i>download</button>
                                </div>
                                <div class="box-body">
                                    <div id="sensor-chart" style="height: 300px;"></div>
    
                                </div>
                                <!-- /.box-body-->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- chart end -->
                        <div class = "col-md-6">
                            <!-- Line chart -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <i class="fa fa-bar-chart-o"></i>
                                    <h3 class="box-title">Senser Value</h3>
                                    <button class="pull-right" id="value_download" name="value_download"><i class="fa fa-fw fa-download"></i>download</button>
                                </div>
                                <div class="box-body">
                                    <div id="sensor-chart" style="height: 300px;"></div>
    
                                </div>
                                <!-- /.box-body-->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- chart end -->
                    <!--</div>
    
                    <div class="row"> -->
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">최근 촬영 사진</h3>
                                    <div class="box-tools pull-right" id="camera-date">
                                        <%
                                            var d = new Date(createdAt); 
                                            var str = "";
                                            if(createdAt){
                                                str = d.getFullYear() + "-" + (d.getMonth() + 1 ) + "-" + d.getDate() + "-" + d.getHours() + "-" + d.getMinutes();
                                            }                                           
                                        %>
                                            <%= str %>
                                            <button class="pull-right"><i class="fa fa-fw fa-download" id="image_download" name="image_download"></i>download</button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div id="camera-info"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- / camera infomation -->
                    <!-- infomation -->
                    <!-- /.weather, camera widget -->
                </div>
            </div>
        <% include ../partials/footer.ejs %>
            <div class="control-sidebar-bg"></div>
        </div>
        <!-- /.content-wrapper -->
      
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    </div>
    <% include ../partials/footer_graph_javascript.ejs %>
        <script>
            //var socket = io("http://http://192.168.0.34:5001/");
            /*
             * Custom Label formatter
             * ----------------------
             */
            function labelFormatter(label, series) {
                return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">' +
                    label +
                    "<br>" +
                    Math.round(series.percent) +
                    "%</div>";
            }

            //날짜에서 시간과분만 추출
            function getDateFromJSON(str) {
                var date = new Date(str);
                return (date.getHours() + 9) + ':' + date.getMinutes();
            }

            //날짜에서 하루 빼기
            function getMinusOneDate(str) {
                var date = new Date(str);
                return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + (date.getDate() - 1);
            }

            //날짜 형식 변경
            function getFormatDate(date) {
                var year = date.getFullYear(); //yyyy
                var month = (1 + date.getMonth()); //M
                var day = date.getDate(); //d

                month = month >= 10 ? month : '0' + month; // month 두자리로 저장
                day = day >= 10 ? day : '0' + day; //day 두자리로 저장
                return year + '' + month + '' + day;
            }

            //시간말 추출
            function getFormatDateHour(date) {
                var hour = date.getHours(); //d
                hour = hour >= 10 ? hour : '0' + hour; //day 두자리로 저장
                return hour;
            }
            // chart end
            var get_Data = function() {

                $.ajax({

                    type: "GET",
                    url: "/ajax?serial=<%=serial%>",
                    dataType: "json",
                    error: function() {
                        var ajax_data;
                        ajax_data = null;
                    },
                    success: function(data) {

                        var chart_data;
                        //ajax_data = JSON.stringify(data);
                        console.log(typeof(data));
                        console.log(data);
                        chart_data = data;

                        var get_data = chart_data;

                        var ec_data1 = [];
                        var ec_data2 = [];
                        var ec_data3 = [];
                        //  for (var i = 0, max_data = get_data.length; i < max_data; i++) {
                        //      show_data.push([getDateFromJSON(get_data[i].createdAt), get_data[i].value]);
                        //  }
                        
                        console.log('test : ',data);
                        for (var i in data) {
                            var array1 = data[i].sd_data.split(',');
                            console.log('first data : ', data[i].id);
                            for (var j in array1) {
                                 
                                if (j < 8) {
                                    // console.log('first ec data : ', data[i].id);
                                    if(j == 0){
                                        ec_data1.push([getDateFromJSON(data[i].createdAt), array1[i]]);
                               //     console.log('ec ' + j + ': ', array1[j]);
                                    }else if(j == 1){
                                        ec_data2.push([getDateFromJSON(data[i].createdAt), array1[i]]);
                               //         console.log('ec ' + j + ': ', array1[j]);
                                    }else if(j == 2){
                                        ec_data3.push([getDateFromJSON(data[i].createdAt), array1[i]]);
                               //         console.log('ec ' + j + ': ', array1[j]);
                                    }else if(j == 3){
                               //         console.log('ec ' + j + ': ', array1[j]);
                                    }else if(j == 4){
                                //        console.log('ec ' + j + ': ', array1[j]);
                                    }else if(j == 5){
                                 //       console.log('ec ' + j + ': ', array1[j]);
                                    }else if(j == 6){
                                 //       console.log('ec ' + j + ': ', array1[j]);
                                    }else if(j == 7){
                                  //      console.log('ec ' + j + ': ', array1[j]);
                                    }
                                } else if (j < 16) {
                                    console.log('온도 ' + j + ' : ', array1[j]);
                                } else {
                            //        console.log('수분 ' + j + ' : ', array1[j]);
                                }
                            }
                            
                        }
                        
                        var line_data1 = {
                            data: ec_data1.reverse(),
                            color: "#3c8dbc",
                        };
                        var line_data2 = {
                            data: ec_data2.reverse(),
                            color: "#ac8dbc",
                        };

                        //flot.html 에서 가져옴
                        $.plot("#sensor-chart", [line_data1, line_data2], {
                            grid: {
                                hoverable: true,
                                borderColor: "#f3f3f3",
                                borderWidth: 1,
                                tickColor: "#f3f3f3"
                            },
                            series: {
                                shadowSize: 0,
                                lines: {
                                    show: true
                                },
                                points: {
                                    show: true
                                }
                            },
                            lines: {
                                fill: false,
                                // color: ["#3c8dbc", "#f56954"]
                            },
                            yaxis: {
                                min: 0,
                                max: 1200,
                                show: true,
                            },
                            xaxis: {
                                // 이 설정은 x축의 보여지는 것이 날짜 기준으로 하기 위해서 있는 것이다.
                                /*
                                    mode: "time",
                                    min: (new Date("2017/08/08")).getTime(),
                                    max: (new Date("2017/08/18")).getTime(),
                                    // min: (new Date("2010/11/01")).getTime(),
                                    // max: (new Date("2011/02/01")).getTime(),
                                */
                                mode: "categories",
                                show: true,
                            }
                        });
                        //Initialize tooltip on hover
                        $('<div class="tooltip-inner" id="sensor-chart-tooltip"></div>').css({
                            position: "absolute",
                            display: "none",
                            opacity: 0.8
                        }).appendTo("body");

                        $("#sensor-chart").bind("plothover", function(event, pos, item) {

                            if (item) {
                                var x = item.datapoint[0].toFixed(2),
                                    y = item.datapoint[1].toFixed(2);

                                //$("#sensor-chart-tooltip").html(item.series.label + " of " + x + " = " + y)
                                $("#sensor-chart-tooltip").html(y).css({
                                    top: item.pageY + 5,
                                    left: item.pageX + 5
                                }).fadeIn(200);
                            } else {
                                $("#sensor-chart-tooltip").hide();
                            }
                        });
                    }
                });
            }

            // chart end

            var get_image = function() {

                $.ajax({

                    type: "GET",
                    url: "/ajaxpath?serial_Num=<%=serial%>",
                    dataType: "json",
                    error: function() {
                        var ajax_path;
                        ajax_path = '/upload/failed/failed/failed.jpg';
                        //console.log(ajax_path);
                        $("#camera-info").find("img").attr("src", ajax_path);

                    },
                    success: function(data) {

                        var ajax_data = data;
                        var img_path;
                        var d = new Date(ajax_data.createdAt);
                        var dateStr = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate() + " " + d.getHours() + ":" + d.getMinutes();

                        if (ajax_data.createdAt == "") dateStr = "";

                        img_path = '/upload/' + ajax_data.field_id + '/' + ajax_data.folder_name + '/' + ajax_data.img_name;

                        $("#camera-info").find("img").attr("src", img_path);
                        $("#camera-date").text(dateStr);

                    }
                });
            }

            get_Data();
            setInterval("get_Data()", 1000 * 30);
            setInterval("get_image()", 1000 * 30);
        </script>

</body>

</html>